<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>View employee: {{ employee.name }}</title>
</head>
<body>
<h1>View employee</h1>
<div style="border:1px solid #CCC; margin: 5px; padding: 5px">
	Name: {{ employee.name }}<br />
	Birthday: {{ employee.birthday }}<br />
	Is Present: {{ employee.status }}<br />
</div>

</body>
</html>
